<nav class="navbar navbar-light bg-light">
  <div>
    <img class="navbar-logo" src="{{ institutionLogo }}" alt="">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
  </div>
  <div>
    <div class="dropleft">
      <a class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-info-circle"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" disabled>Version 2.0.0</a>
        <a class="dropdown-item" routerLink="/knowledge">Handbuch</a>
        <a class="dropdown-item" routerLink="/bug">Fehler melden...</a>
        <a class="dropdown-item" routerLink="/help">Hilfe</a>
        <a class="dropdown-item" routerLink="/impressum">Impressum</a>
        <a class="dropdown-item" routerLink="/datenschutz">Datenschutz</a>
      </div>
    </div>
  </div>
</nav>
