.event {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.date {
    display: inline-block;
}

p {
    margin: 0;
}

.deleteBtn {
    color: darkred!important;
}

.deleteBtn:hover {
    color: red!important;
    cursor: pointer;
}

.editBtn {
    color: gray!important;
}

.editBtn:hover {
    color: black!important;
    cursor: pointer;
}