<div class="card">
  <div class="card-header">
    Termin eintragen
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #addEventForm="ngForm">
      <div class="form-group">
        <label for="lernfeld">Lernfeld</label>
        <select class="form-control" id="lernfeld" required [(ngModel)]="model.lernfeld" name="lernfeld" (change)="reloadTimeslots()">
          <option *ngFor="let lernfeld of lernfelder" [value]="lernfeld[0]">{{lernfeld[1]}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="timeslot">Zeitfenster</label>
        <select class="form-control" id="timeslot" required [(ngModel)]="model.timeslot" name="timeslot">
          <option *ngFor="let timeslot of availableTimeslots" [value]="timeslot[1]">{{timeslot[2]}}</option>
        </select>
      </div>
      <div class="form-group">
        <!-- TODO: replace with searchable multiselect (ASAP). -->
        <label>Teilnehmer</label>
        <angular2-multiselect name="members" [data]="dropdownList" [(ngModel)]="model.members"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
        <small id="info" class="form-text text-muted">Du selbst wirst automatisch zu dem Termin hinzugefügt.<br>Klicke auf das X hinter deinem Namen um dich zu entfernen.</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!addEventForm.form.valid">Termin eintragen</button>
    </form>
  </div>
</div>
